@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --a: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(2, 2, 2);
  color: white;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 30vw;
  padding: 10px;
}

.right {
  width: 70vw;
  position: relative;
}

.home {
  background-color: rgb(16, 15, 15);
  padding: 50px;
  border-radius: 10px;
  width: 100%;
  height: 25%;
}

.home ul {
  list-style: none;
  padding: 0;
}

.home ul li {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: bold;
  padding: 1px;
  font-size: x-small;
}

.home ul li img {
  width: 20px;
  filter: invert(1);
}

.library {
  background-color: rgb(12, 12, 12);
  padding: 0px;
  border-radius: 10px;
  margin: 0px 0;
  min-height: 40vh;
  width: 100%;
  position: relative;
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 10px;
  padding: 0px 0;
}

.heading img {
  width: 20px;
  filter: invert(1);
}

.footer {
  display: flex;
  gap: 10px;
  font-size: 7px;
  position: absolute;
  bottom: 0px;
  width: 50px;
  min-width: 50px;
}

.footer a {
  text-decoration: none;
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
}

.cardContainer {
  margin: 0px;
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow-y: scroll;
}

.spotifyplaylists {
  padding-top: 5px;
  height: 10px;
}

.spotifyplaylists .card {
  width: 100px;
  height: 130px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
}

.card {
  padding-top: 3px;
  position: relative;
  font-size: 7px;
  transition: all 0.8s;
}

.card:hover {
  background-color: rgb(105, 103, 103);
  cursor: pointer;
  --a: 1;
}

.card > * {
  padding-top: 10px;
}

.spotifyplaylists h1 {
  padding-top: 0px;
  margin: 0;
  font-size: 12px;
}

.play {
  width: 28px;
  height: 28px;
  background-color: #668809;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  right: 10px;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.songlist ul li.active {
  background-color: #415861;
  border-left: 4px solid rgb(95, 100, 54);
  font-weight: bold;
}

.signupbtn {
  background-color: black;
  color: rgb(82, 82, 82);
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.signupbtn:hover {
  font-size: 12px;
  color: white;
}

.loginbtn {
  background-color: white;
  color: rgb(14, 12, 12);
  font-weight: bold;
  border-radius: 12px;
  font-size: 11px;
  border: none;
  cursor: pointer;
  width: 60px;
}

.loginbtn:hover {
  font-weight: bold;
  width: 40px;
  font-size: 12px;
  color: black;
}

.playbar {
  position: fixed;
  bottom: 10px;
  left: 65%;
  transform: translateX(-50%);
  background-color: #dad5d5;
  border-radius: 10px;
  filter: invert(1);
  width: 610px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.songbuttons {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  align-items: center;
}

.songlist ul {
  padding: 0 12px;
}

.songlist ul li {
  list-style-type: decimal;
  display: flex;
  gap: 12px;
  cursor: pointer;
  padding: 13px;
  border: 1px solid white;
  margin: 12px 0;
  border-radius: 5px;
  justify-content: space-between;
  font-size: 7px;
  width: 100%;
}

.playnow {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  font-size: small;
  align-items: center;
}

.playnow span {
  font-size: 8px;
  width: 100px;
}

.songlist {
  height: 237px;
  overflow: auto;
  margin-bottom: 10px;
}

.songlist info {
  font-size: 13px;
  width: 400px;
}

.seekbar {
  height: 2px;
  border: 1px solid black;
  width: 98%;
  position: absolute;
  bottom: 2px;
  left: 10px;
  border-radius: 5px;
  padding: 1.5px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(19, 67, 179);
  position: relative;
  bottom: 7px;
  left: 0%;
}

.songinfo,
.songtime {
  color: black;
  padding: 0 12px;
}

.songbuttons img {
  cursor: pointer;
}

.abovebar {
  display: flex;
}

.songinfo {
  font-size: 11px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 20px;
  width: 200px;
}

.songtime {
  font-size: 12px;
  color: black;
  text-align: right;
  flex: 1;
  min-width: 80px;
  width: 125px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(187, 61, 61);
  position: relative;
  bottom: 7px;
  left: 0%;
}

.hamburger {
  display: none;
}

.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume img {
  width: 25px;
}
