.flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .items-center {
    align-items: center;
  }
  
  .gap-1 {
    gap: 10px;
  }
  
  .bg-black {
    background-color: black;
    color: white;
  }
  
  .bg-gray {
    background-color: rgb(11, 11, 11);
  }
  
  .rounded {
    border-radius: 10px;
  }
  
  .m2 {
    margin: 2px;
  }
  
  .p1 {
    padding: 10px;
  }
  
  .invert {
    filter: invert(1);
  }
  
  .border {
    border: 2px solid rgb(17, 17, 17);
    margin: 3px;
  }
  
  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Dark grey */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; /* Grey */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777; /* Light grey */
  }
  